{
    "requestId": "$context.requestId",
    "type": "about:blank",
    "title": "$context.error.responseType",
    "detail": "$context.error.validationErrorString",
    "status": "$context.status",
    "errors": [$context.error.messageString]
}